{{#link-to 'sub-term.show' subterm.id class="card"}}
<div class="card-image">
	<img {{bind-attr src=post.featured_image.attachment_meta.sizes.post-thumbnail.url}}  >
</div>
<div class="card-copy">
	<li>
		<a {{action 'showSubTerm' subterm.id}}>{{subterm.name}}</a>
		{{{excerptSafe}}}<br>
		<a  class="btn" {{action 'showSubTerm' subterm.id}}>Seguir leyendo</a>
	</li>
</div>
{{/link-to}}