<li><a {{action 'showPost' post.id}}>{{{post.title}}}</a></li>
{{{excerptSafe}}}
{{#if showCategory}}
	<a {{action 'showTerm' category.id}}>{{category.name}}</a>
{{/if}}
<a {{action 'showPost' post.id}}>Seguir leyendo</a>

