{{#if show}}

{{input type="text" value=query}}
<a {{action 'close'}}>close</a>
{{#if searching}}
	<p>Buscando</p>
{{/if}}
{{#if searched}}
	{{#if posts}}
		<ul>	
			{{#each posts as |post|}}
				{{post-brief post=post showCategory=true action='close'}}
			{{/each}}
		</ul>
	{{else}}
		<p>No se han encontrado resultados.</p>
	{{/if}}
{{/if}}
{{else}}
	<a {{action 'open'}}>Open</a>
{{/if}}