{{#cp-panel}}
  {{#cp-panel-toggle}}

	{{#if isCustom}}
		<a {{bind-attr href=item.url }} target="_blank">{{item.title}}</a>
	{{else}}
		{{#link-to link item.object_id}} {{item.title}} {{/link-to}}
	{{/if}}
  {{/cp-panel-toggle}}
  {{fa-icon 'angle-down'}}
  {{#cp-panel-body}}

	{{#if item.subItems}}
		<ul class="sub-politicas">
		{{#each item.subItems as |menuItem|}}
			{{wp-menu-item item=menuItem}}
		{{/each}}
		</ul>
	{{/if}}

  {{/cp-panel-body}}
{{/cp-panel}}
