{{#cp-panel is-open=isOpen}}
	{{#if isCustom}}
		<a {{bind-attr href=item.url }} target="_blank">{{item.title}}</a>
	{{else}}
		{{#link-to link item.object_id}} {{item.title}} {{/link-to}}
	{{/if}}

	{{#if item.subItems}}
		{{#cp-panel-toggle}}
			{{t-add animation="minus" is-open=isOpen}}
		{{/cp-panel-toggle}}

		{{#cp-panel-body}}
			<ul class="sub-politicas">
			{{#each item.subItems as |menuItem|}}
				{{wp-menu-item item=menuItem}}
			{{/each}}
			</ul>
		{{/cp-panel-body}}
	{{/if}}
{{/cp-panel}}
