<div {{bind-attr class=":projects-container :-half model.term.slug"}}>

	<div id="sub-term" class="cd-single-project">
		<div class="cd-title">
			<ul>
				<li class="heading-term">
					{{#link-to 'index'}}
					Tenemos proyecto
				{{/link-to}}</li>
				<li class="heading-sub-term">{{#link-to 'term.show' model.term.parent.ID}} {{model.term.parent.name}}{{/link-to}}</li>
			</ul>

			<h1 class="heading-primary">{{model.term.name}}</h1>

			<ul>
				{{#each model.posts as |post|}}
					<li><i class="fa fa-angle-right" aria-hidden="true"></i>{{#link-to 'post.show' post.id}} {{{post.title}}} {{/link-to}} 
					</li>
				{{/each}}
			</ul>

		</div> <!-- .cd-title -->
	</div>


</div> <!-- .project-container -->

<div class="article-container">
	<article class="type-system-slab ">
	 {{{model.post.content}}}
	 <div class="post-nav">
	 </div>
	</article>
</div>