<div {{bind-attr class=":projects-container :-half model.term.slug"}}>
	<ul>
		<li class="cd-single-project">
			<div class="cd-title">
				<p>
					{{#link-to 'index'}}
					Volver al indice
				{{/link-to}}
				</p>
				<small>Categoria</small>
				<h1>
					{{model.term.name}}
				</h1>
			</div> <!-- .cd-title -->
		</li>
	</ul>

	<ul>
		{{#each model.posts as |post|}}
			<li>{{#link-to 'post.show' post.id}} {{{post.title}}} {{/link-to}} 
			</li>
		{{/each}}
	</ul>
</div> <!-- .project-container -->

<!-- ORIGINAL
<div class="chapters-container">
<ul class="cards">
	{{#each model.posts as |post|}}
	
		{{#link-to 'post.show' post.id class="card"}}
		<div class="card-image">
			<img {{bind-attr src=post.featured_image.source}}  >
		</div>
		<div class="card-copy">
			{{post-brief post=post}}
		</div>
		{{/link-to}}
	
	{{/each}}
</ul>
</div> -->


<div class="article-container">

	<article class="type-system-slab ">

	 {{{model.post.content}}}

	 <div class="post-nav">
	 	{{#if prevPost}}
		  aca boton para el anterior
		{{/if}}
		{{#if nextPost }}
		  aca boton para el siguiente
		{{/if}}
	 </div>
	</article>
</div>