<div {{bind-attr id="model.term.slug" class=":projects-container :-half model.term.slug"}}>

	<div id="sub-term" class="cd-single-project" >
		<div class="cd-title opacity">
			<ul>
				<li class="heading-index">
					{{#link-to 'index'}}
					Tenemos Proyecto
				{{/link-to}}</li>
				<li class="heading-sub-term">{{#link-to 'term.show' model.term.parent.ID}} {{model.term.parent.name}}{{/link-to}}</li>
			</ul>

			<h1 class="heading-primary">{{model.term.name}}</h1>

			<ul>
				{{post-list posts=model.posts rootPost=model.post}}
			</ul>

		</div> <!-- .cd-title -->
	</div>


</div> <!-- .project-container -->

<div class="article-container">
	<article class="type-system-slab ">
	 {{{model.post.content}}}
	 <div class="post-nav">
	 </div>
	</article>
</div>