<div {{bind-attr class=":projects-container :-half model.term.slug"}}>

	<div id="sub-term" class="cd-single-project">
		<div class="cd-title">
			<ul>
				<li class="heading-term">
					{{#link-to 'index'}}
					Volver al indice
				{{/link-to}}</li>
				<li class="heading-sub-term">Categoría</li>
			</ul>

			<h1 class="heading-primary">{{model.term.name}}</h1>

			<ul>
				{{#each model.posts as |post|}}
					<li><i class="fa fa-angle-right" aria-hidden="true"></i>{{#link-to 'post.show' post.id}} {{{post.title}}} {{/link-to}} 
					</li>
				{{/each}}
			</ul>

		</div> <!-- .cd-title -->
	</div>


</div> <!-- .project-container -->

<!-- ORIGINAL
<div class="chapters-container">
<ul class="cards">
	{{#each model.posts as |post|}}
	
		{{#link-to 'post.show' post.id class="card"}}
		<div class="card-image">
			<img {{bind-attr src=post.featured_image.source}}  >
		</div>
		<div class="card-copy">
			{{post-brief post=post}}
		</div>
		{{/link-to}}
	
	{{/each}}
</ul>
</div> -->


<div class="article-container">

	<article class="type-system-slab ">

	 {{{model.post.content}}}

	 <div class="post-nav">
	 	{{#if prevPost}}
		  aca boton para el anterior
		{{/if}}
		{{#if nextPost }}
		  aca boton para el siguiente
		{{/if}}
	 </div>
	</article>
</div>