<div {{bind-attr id="model.term.slug" class=":projects-container :-half model.term.slug"}}>

	<div id="sub-term" class="cd-single-project">
		<div class="cd-title">
			<nav>
				<ul>
					<li class="heading-term">Tenemos Patria, Tenemos Proyecto, Tenemos Futuro</li>
				</ul>
			</nav>

			<h1 class="heading-primary">{{model.term.name}}</h1>
			<div class="bg-subterm">
			<img {{bind-attr src=model.term.acf.imagen.url}} alt="">
			</div>

			<ul class="indice-subpolitica">
				{{post-list posts=model.posts rootPost=model.post}}
			</ul>

		</div> <!-- .cd-title -->
	</div>


</div> <!-- .project-container -->

<div class="article-container sub-term">
	<nav class="breadcrumb">
		<ul>
			<li>{{#link-to 'index'}}{{fa-icon 'home'}}{{/link-to}}</li>
			<li>{{fa-icon 'angle-right'}}{{#link-to 'term.show' model.term.parent.ID}}{{model.term.parent.name}}{{/link-to}}</li>
		</ul>
	</nav>

	<article class="type-system-slab ">
	 {{{model.post.content}}}
	 <div class="post-nav"></div>
	</article>

	<div class="share">{{facebook-feed data-desc=model.post.shareText data-title=model.post.title data-image=model.post.featured_image.attachment_meta.sizes.medium.url data-caption="Somos futuro" class="facebook-share-button"}}</div>

</div>