

<div class="projects-container -half">
	<ul style="margin: 0;">
		<li class="cd-single-project">
			<img {{bind-attr src=post.featured_image.source}} >
			<div class="cd-title">
				<small>{{#link-to 'term.show' model.term.id}} {{{model.term.name}}} {{/link-to}}</small>
				<small>{{#link-to 'sub-term.show' model.subterm.id}} {{{model.subterm.name}}} {{/link-to}}</small>
				<h1>{{{model.post.title}}}</h1>
			</div> <!-- .cd-title -->
		</li>
	</ul>
</div> <!-- .project-container -->

<div class="article-container">
<article class="type-system-slab ">

 {{{model.post.content}}}

 <div class="post-nav">
 	{{#if prevPost}}
	  aca boton para el anterior
	{{/if}}
	{{#if nextPost }}
	  aca boton para el siguiente
	{{/if}}

 </div>
</article>
</div>