<div {{bind-attr class=":projects-container :-half model.post.slug"}}>
	<div id="-post" class="cd-single-project" style="background-image:url({{post.featured_image.source}})">
		<!--img {{bind-attr src=post.featured_image.source}} -->
			<div class="cd-title opacity">
				<ul>
					<li class="heading-index">
						{{#link-to 'index'}}
						Tenemos Proyecto
					{{/link-to}}</li>
					
					{{show-terms post=model.post}}

				</ul>
			<h1 class="heading-primary">{{{model.post.title}}}</h1>
		</div> <!-- .cd-title -->
	</div>	

</div> <!-- .project-container -->

<div {{bind-attr class=":article-container"}}>


<article class="type-system-slab ">
 
 {{{model.post.content}}}

</article>
</div>