<div {{bind-attr class=":projects-container :-half"}}>
	<div id="-post" class="cd-single-project">
		<img {{bind-attr src=featured_image.source}} >
			<div class="cd-title">
				<ul>
				<li class="heading-term">
					{{#link-to 'index'}}
					Volver al indice
				{{/link-to}}</li>
				<li class="heading-sub-term">Categoría</li>
			</ul>
				<!--<small>{{{model.term}}}</small>-->
			<h1 class="heading-primary">{{{model.title}}}</h1>
		</div> <!-- .cd-title -->
	</div>	
</div> <!-- .project-container -->

<div {{bind-attr class=":article-container"}}>

<article class="type-system-slab ">

 {{{model.post.content}}}

 <div class="post-nav">
 	{{#if prevPost}}
	  aca boton para el anterior
	{{/if}}
	{{#if nextPost }}
	  aca boton para el siguiente
	{{/if}}

 </div>
</article>
</div>