<div {{bind-attr class=":projects-container :-half model.post.slug"}}>
	<div id="-post" class="cd-single-project" style="background-image:url({{post.featured_image.attachment_meta.sizes.large.url}})">
		<!--img {{bind-attr src=post.featured_image.source}} -->
		<div class="cd-title opacity">
			<nav>
				<ul>
					<li class="heading-term">Tenemos Patria, Tenemos Proyecto, Tenemos Futuro</li>
				</ul>
			</nav>

			<h1 class="heading-primary">{{{model.post.title}}}</h1>		
			<!--<ul>
				<li>{{#scroll-to href='#constr-pol-estado'}}CONSTRUCCIÓN POLÍTICA DE LA ECONOMÍA{{/scroll-to}}</li>
				<li>CONSTRUCCIÓN POLÍTICA DEL ESTADO</li>
				<li>IGUALDAD SOCIAL</li>
			</ul>-->

			<ul class="navigation">{{post-navigate post=model.post posts=model.posts}}</ul>

		</div> <!-- .cd-title -->
	</div>	
</div> <!-- .project-container -->

<div {{bind-attr class=":article-container model.post.slug"}}>
	<nav class="breadcrumb">
		<ul>
			<li>{{#link-to 'index'}}{{fa-icon 'home'}}{{/link-to}}</li>
			{{show-terms post=model.post}}
		</ul>
	</nav>	

<article class="type-system-slab ">

 {{{model.post.content}}}

</article>

<ul class="navigation">{{post-navigate post=model.post posts=model.posts}}</ul>

</div>