<div {{bind-attr id="model.term.slug" class=":projects-container :-half model.term.slug"}} >

	<div id="term" class="cd-single-project opacity">
		<div class="cd-title">
			<div class="title"><h1 class="heading-primary">{{model.term.name}}</h1>
			<!--<span>{{model.term.description}}</span>-->
			</div>
		</div> <!-- .cd-title -->
	</div>

</div> <!-- .project-container -->


<div class="chapters-container">
	<!--<nav class="breadcrumb">
		<ul>
			<li>{{#link-to 'index'}}{{fa-icon 'home'}}{{/link-to}}</li>
		</ul>
	</nav>-->
	<ul class="cards">
		{{term-list terms=model.subterms}}
	</ul>
</div>

