<div {{bind-attr class=":projects-container :-half model.term.slug"}} >
	<ul>
		<li class="cd-single-project">
			<div class="cd-title">
				<div class="term">
				<p>
					{{#link-to 'index'}}
					Volver al indice
				{{/link-to}}
				</p>
				<div>Categoria</div>
				<h1>					
					{{model.term.name}}
				</h1>
				</div>

			</div> <!-- .cd-title -->
		</li>

		
	</ul>
</div> <!-- .project-container -->

<!-- ORIGINAL
<div class="chapters-container">
<ul>
	{{#each model.subterms as |term|}}
		<li>{{#link-to 'sub-term.show' term.id}} {{{term.name}}} {{/link-to}} ({{{term.count}}})</li>
	{{/each}}
</ul>
</div> -->


<div class="chapters-container">
<ul class="cards">
	{{#each model.subterms as |term|}}

		{{#link-to 'sub-term.show' term.id class="card"}} {{{term.name}}} 
		
		<div class="card-image">
			<img {{bind-attr src=sub-term.featured_image.source}}  >
		</div>


		{{/link-to}} 

	{{/each}}
</ul>
</div>

