<div {{bind-attr class=":projects-container :-half model.term.slug"}} >

	<div id="term" class="cd-single-project">
		<div class="cd-title">
			<ul>
				<li class="heading-term">
					{{#link-to 'index'}}
					Volver al indice
					{{/link-to}}</li>
				<li class="heading-sub-term">Categoría</li>
			</ul>	

			<div class="title"><h1 class="heading-primary">{{model.term.name}}</h1></div>
		</div> <!-- .cd-title -->
	</div>

</div> <!-- .project-container -->

<!-- ORIGINAL
<div class="chapters-container">
<ul>
	{{#each model.subterms as |term|}}
		<li>{{#link-to 'sub-term.show' term.id}} {{{term.name}}} {{/link-to}} ({{{term.count}}})</li>
	{{/each}}
</ul>
</div> -->

<div class="chapters-container">
<ul class="cards">
	{{#each model.subterms as |post|}}
	
		{{#link-to 'post.show' post.id class="card"}}
		<div class="card-image">
			<img {{bind-attr src=post.featured_image.source}}  >
		</div>
		<div class="card-copy">
			{{post-brief post=post}}
		</div>
		{{/link-to}}
	
	{{/each}}
</ul>
</div>

