<div {{bind-attr class=":projects-container :-half model.term.slug"}} >

	<div class="cd-single-project">
		<div class="cd-title">
			<div class="term">
				<ul>
					<li><p>
						{{#link-to 'index'}}
						Volver al indice
					{{/link-to}}
					</p></li>
					<li>Categoria</li>
					<li><h1>					
						{{model.term.name}}
					</h1></li>
				</ul>	
			</div>

		</div> <!-- .cd-title -->
	</div>

</div> <!-- .project-container -->

<!-- ORIGINAL
<div class="chapters-container">
<ul>
	{{#each model.subterms as |term|}}
		<li>{{#link-to 'sub-term.show' term.id}} {{{term.name}}} {{/link-to}} ({{{term.count}}})</li>
	{{/each}}
</ul>
</div> -->


<div class="chapters-container">
<ul class="cards">
	{{#each model.subterms as |term|}}

		{{#link-to 'sub-term.show' term.id class="card"}} {{{term.name}}} 
		
		<div class="card-image">
			<img {{bind-attr src=sub-term.featured_image.source}}  >
		</div>


		{{/link-to}} 

	{{/each}}
</ul>
</div>

