{{#unless isHome}}
	<a {{action 'smartGoBack'}} class="smart-back">
		{{fa-icon 'long-arrow-left'}}
		Volver	
	</a>
	{{wp-menu items=model.items show=isShowMenu iShowMenu=isShowMenu}}
	
	{{search-tool class="smart-search" show=isShowSearch iShowMenu=isShowSearch}}
{{/unless}}

{{liquid-outlet class="container"}}
