{{#unless isHome}}
	<a {{action 'smartGoBack'}} class="smart-back">
		{{fa-icon 'long-arrow-left'}}
		Volver	
	</a>
{{/unless}}

{{wp-menu items=model.items show=isShowMenu iShowMenu=isShowMenu}}

{{search-tool class="smart-search" show=isShowSearch iShowMenu=isShowSearch}}

{{liquid-outlet class="container"}}
