{{#unless isHome}}
	<a {{action 'smartGoBack'}} class="smart-back">
		{{fa-icon 'long-arrow-left'}}
		Volver	
	</a>

{{/unless}}

{{wp-menu isHome=isHome items=model.items show=isShowMenu iShowMenu=isShowMenu}}

{{search-tool isHome=isHome show=isShowSearch iShowMenu=isShowSearch}}

{{liquid-outlet class="container"}}
