{{#unless isHome}}
	<a {{action 'smartGoBack'}} class="smart-back">
		{{fa-icon 'long-arrow-left'}}
		Volver	
	</a>

{{/unless}}

<div class="share">
	{{facebook-feed data-desc="La publicación que estamos presentando es un balance de los doce años que transcurren desde mayo del 2003 hasta mayo del 2015. Este periodo constituye la base para continuar el sueño que manifestara Néstor Kirchner cuando asumió como Presidente el 25 de mayo del 2003." data-title="Tenemos Patria, Tenemos Proyecto, Tenemos Futuro" data-image="http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/11/tapa-libro.jpg" data-caption="Somos futuro"}}

	<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Somos%20Futuro!!%20http%3A%2F%2Fsomosfuturo.com.ar%2F%20%23SomosFuturo"
  data-size="large">
Tweet</a>
</div>

{{wp-menu isHome=isHome items=model.items show=isShowMenu iShowMenu=isShowMenu}}

{{search-tool isHome=isHome show=isShowSearch iShowMenu=isShowSearch}}

{{liquid-outlet class="container"}}


