<div id="landing" class="projects-container">
	<ul>
		<li class="cd-single-project soberania_politica">
			<div class="cd-title">
				<figure class="effect">
					<figcaption>
						<h2 class="heading-primary">{{#link-to 'term.show' 1}}Soberanía Política{{/link-to}}</h2>
						<ul class="bandera-menu">
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Memoria, verdad y justicia{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Integración regional: América latina libre y unida{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Política exterior autónoma y agenda para el desarrollo{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Defensa irrenunciable de nuestra soberanía territorial{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Recuperación del relato histórico: la construcción cultural de nuestra identidad nacional{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Democratización de la comunicación{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Participación popular y democrática{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Democratización de la justicia{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Politica de defensa democratica para el desarrollo nacional{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Fuerzas de seguridad de la democracia{{/link-to}}</li>
						</ul>
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project independencia_economica">
			<div class="cd-title">
				<figure class="effect">
					<figcaption>
						<h2 class="heading-primary">{{#link-to 'term.show' 12}}Independencia económica{{/link-to}}</h2>
						<ul class="bandera-menu">
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Desendeudamiento soberano{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Gestión autónoma de la política económica{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}}Consolidación de una nueva matriz productiva de desarrollo autonomo{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Planificación energética para un desarrollo federal{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Reforma integral del sistema de transporte nacional{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} El estado regula y promueve el crecimiento con inclusión{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} La ciencia y la tecnología: estrategia fundamental para el desarrollo{{/link-to}}</li>
						</ul>
						
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project justicial_social" >
			<div class="cd-title">
				<figure class="effect">
					<figcaption>
						<h2 class="heading-primary">{{#link-to 'term.show' 13}}Justicia Social{{/link-to}}</h2>
						<ul class="bandera-menu">
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} El trabajo, pilar del proyecto nacional{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Recuperación y ampliación de derechos{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} No a la trata{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Educación pública para la igualdad de oportunidades{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Acceso a la salud para todos y todas{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Acceso a la vivienda y al hábitat{{/link-to}}</li>
						</ul>
						
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
		<!--<li class="cd-single-project tenemos_futuro">
			<div class="cd-title">
				{{#link-to 'sub-term.show' 156}}
					<h2 class="heading-primary">
							Tenemos futuro
					</h2>
				{{/link-to}}
		</li>-->
	</ul>
	<!--<div class="home-intro">
		<h2>
			{{#link-to 'post.show' 473}}
				Ir a la Introducción
			{{/link-to}}
		</h2>
	</div>-->
	<!--figure>
		<img src="http://somosfuturo.com.ar/contenido/wp-content/uploads/2015/07/500.jpg" alt="Somos Futuro">
	</figure-->
</div> <!-- .project-container -->