<div id="landing" class="projects-container">
	<ul>
		<li class="cd-single-project soberania_politica">
			<div class="cd-title">
				<figure class="effect">
					<figcaption>
					{{#link-to 'term.show' 1}}
						<h2 class="heading-primary">Soberanía Política</h2>
						<p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
						{{fa-icon 'long-arrow-right'}}</p>
					{{/link-to}}

						<!--<ul class="bandera-menu">
							<li>{{#link-to 'sub-term.show' 2}}{{fa-icon 'long-arrow-right'}} Memoria, verdad y justicia{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Integración regional: América latina libre y unida{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Política exterior autónoma y agenda para el desarrollo{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Defensa irrenunciable de nuestra soberanía territorial{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Recuperación del relato histórico: la construcción cultural de nuestra identidad nacional{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Democratización de la comunicación{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Participación popular y democrática{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Democratización de la justicia{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Politica de defensa democratica para el desarrollo nacional{{/link-to}}</li>
							<li>{{#link-to 'post.show' 347}}{{fa-icon 'long-arrow-right'}} Fuerzas de seguridad de la democracia{{/link-to}}</li>
						</ul>-->
						<h2 class="heading-primary">{{#link-to 'term.show' 1}}Soberanía Política{{/link-to}}</h2>
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project independencia_economica">
			<div class="cd-title">
				<figure class="effect">
					<figcaption>
					{{#link-to 'term.show' 12}}
						<h2 class="heading-primary">Independencia económica</h2>
						<p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
						{{fa-icon 'long-arrow-right'}}</p>
						<!--<ul class="bandera-menu">
							<li>{{#link-to 'sub-term.show' 157}}{{fa-icon 'long-arrow-right'}} Desendeudamiento soberano{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 158}}{{fa-icon 'long-arrow-right'}} Gestión autónoma de la política económica{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 159}}{{fa-icon 'long-arrow-right'}} Consolidación de una nueva matriz productiva de desarrollo autonomo{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 160}}{{fa-icon 'long-arrow-right'}} Planificación energética para un desarrollo federal{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 161}}{{fa-icon 'long-arrow-right'}} Reforma integral del sistema de transporte nacional{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 162}}{{fa-icon 'long-arrow-right'}} El estado regula y promueve el crecimiento con inclusión{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 163}}{{fa-icon 'long-arrow-right'}} La ciencia y la tecnología: estrategia fundamental para el desarrollo{{/link-to}}</li>
						</ul>-->
					{{/link-to}}	

						<h2 class="heading-primary">{{#link-to 'term.show' 12}}Independencia económica{{/link-to}}</h2>
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
		<li class="cd-single-project justicial_social" >
			<div class="cd-title">
				<figure class="effect">
					<figcaption>
					{{#link-to 'term.show' 13}}
						<h2 class="heading-primary">Justicia Social</h2>
						<p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
						{{fa-icon 'long-arrow-right'}}</p>
						<!--<ul class="bandera-menu">
							<li>{{#link-to 'sub-term.show' 150}}{{fa-icon 'long-arrow-right'}} El trabajo, pilar del proyecto nacional{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 151}}{{fa-icon 'long-arrow-right'}} Recuperación y ampliación de derechos{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 152}}{{fa-icon 'long-arrow-right'}} No a la trata{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 153}}{{fa-icon 'long-arrow-right'}} Educación pública para la igualdad de oportunidades{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 154}}{{fa-icon 'long-arrow-right'}} Acceso a la salud para todos y todas{{/link-to}}</li>
							<li>{{#link-to 'sub-term.show' 155}}{{fa-icon 'long-arrow-right'}} Acceso a la vivienda y al hábitat{{/link-to}}</li>
						</ul>-->
					{{/link-to}}	
					</figcaption>
				</figure>
			</div> <!-- .cd-title -->
		</li>
	</ul>
</div> <!-- .project-container -->